nav
    .nav-wrapper
        a.brand-logo(href='#') Logo 
        ul#nav-mobile.right.hide-on-med-and-down
            li
                a(href='/') Home page
            li
                a(href='/components') Components
            li
                a(href='/about') About