extends layouts/main
block content
    h1.head About 
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit aperiam cum, ipsum, amet recusandae et voluptatibus ipsam, sunt accusantium nemo temporibus necessitatibus aut molestiae harum excepturi! Odio suscipit saepe nobis!